--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.0
torchvision
ultralytics==8.2.66
opencv-python
pycocotools
matplotlib
onnxruntime
onnx
jupyter
numpy
pandas
scipy
gradio
openpyxl
loguru
roboflow
PyInstaller
